<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dc.emu_dormitory_reservation_app">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBLcII2lrXK6o9fDCWBbwgf9OmbU5GxDJE" />

        <activity android:name=".About_us_activity.MainActivity" />
        <activity android:name=".Give_app_feedback_activity.Main2Activity" />
        <activity android:name=".Create_account_activity.Create_Account" />
        <activity android:name=".sign_in_with_email_activity.Sign_in_with_Email" />
        <activity android:name=".sign_in_with_student_no_activity.Sign_in_with_student_No" />
        <activity android:name=".Sign_in_activity.Sign_in" />
        <activity android:name=".Terms_and_conditions_activity.Terms_and_conditions" />
        <activity android:name=".edit_booking_activity.Edit_booking" />
        <activity android:name=".manage_booking_activity.Manage_booking" />
        <activity android:name=".DebugActivity.DebugActivity"/>
        <activity android:name=".Payment_confirmation"/>



        <activity android:name=".Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".settings_activity.Setting" />
        <activity android:name=".Filter_by_activity.Filter_by" />
        <activity android:name=".rate_your_stay_activity.Rate_your_stay" />
        <activity android:name=".rate_bookings_activity_1.rate_bookings_activity_1" />
        <activity android:name=".rate_bookings_activity_2.RateBookingsActivity2" />
        <activity
            android:name=".booking_activity.booking_tabbed_activity"
            android:label="@string/title_activity_booking_tabbed_activity"
            android:theme="@style/AppTheme" />
        <activity android:name=".search_results_activity.search_result_activity" />
        <activity android:name=".Home_activity.HomeActivity" />
        <activity android:name=".Facilities_filters" />
        <activity android:name=".Get_help" />

        <activity android:name=".Room_detail" />
        <activity android:name=".Dormitory_detail" />
        <activity android:name=".Choose_room"/>

        <activity
            android:name=".Navigational_drawer.navigational_drawer"
            android:label="@string/title_activity_navigational_drawer"
            android:theme="@style/AppTheme"></activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>